@{
    Layout = "_Layout";
}
@model List<Person>
<div class="container">
    <div class="col-10">
        <h1>Events</h1>
        <div><a href="/person/create" class="mx-1 btn btn-sm btn-outline-warning">Create</a></div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone #</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.firstName</td>
                        <td>@item.lastName</td>
                        <td>@item.phoneNumber</td>
                        <td>@item.email</td>
                        <td>
                            <div class="d-flex">
                                <a href="/person/edit/@item.Id" class="mx-1 btn btn-sm btn-outline-warning">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <a href="/person/delete/@item.Id" class="mx-1 btn btn-sm btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>

    </script>
}